
.loginPage {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/Images/empg.jpg');
    /* background: url('Images/q23.jpeg'); */
    background: linear-gradient(rgba(174, 111, 111, 0), rgba(10, 10, 10, 0)), url("/Images/empg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}


/* ul li :hover {
    background-color: gray;
} */
ul li :hover {
    background-color: gray;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* styles.css */
@media (max-width: 576px) {
    .loginForm {
      width: 100%;
    }
  }
  
